<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    td, th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
        color: #0A2745;
    }
    .final_total {
        background-color : #8EC1F5;
        color: white;
        padding: 10px;
        margin-top: 10px;
        font-weight: bold;
    }
    input, select {
        padding:5px;
    }
</style>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <table id="scheme_table">
        <tr id="list_0">
            <th>Scheme</th>
            <th>Invested Date</th>
            <th>Invested Amount</th>
            <th></th>
            <th>Today's worth</th>
        </tr>
        <tr id="list_1">
            <td id="scheme_1"><%= collection_select(:scheme, :scheme, Scheme.all, :id, :name, {:prompt => 'Select Scheme'})%></td>
            <td><input id="date_1" type="date" name="date"></td>
            <td><input id="amount_1"type="number" name="investment_amount"></td>
            <td><button id="calculate" onclick="calculate_returns(1)">Calculate</button></td>
            <td><input class="returns" id="returns_1" type="number" name="investment_today"></td>
        </tr>
    </table>
    <img src="/assets/plus.png" width="40px;" onclick="create_list()">
<div class="final_total"><span>TOTAL</span><span style="float:right" id="total_amount"></span></div>
<script>
  function create_list(){
    var row_id = parseInt($('#scheme_table tr:last').attr("id").match(/\d/g)[0]) + 1;
    $("table").append('<tr id=list_'+row_id+'></tr>');
    $("#list_"+row_id).append('<td id=scheme_'+row_id+'></td>');
    $("#scheme_"+row_id).append($("#scheme_1  > select").clone());
    $("#list_"+row_id).append('<td><input id=date_'+row_id+' type="date" name="date"></td>');
    $("#list_"+row_id).append('<td><input id=amount_'+row_id+' type="number" name="investment_amount"></td>');
    $("#list_"+row_id).append('<td><button id="calculate" onclick=calculate_returns('+row_id+')>Calculate</button></td>');
    $("#list_"+row_id).append('<td><input class="returns" id=returns_'+row_id+' type="number" name="investment_today"></td>');
  }
  function calculate_returns(row_id) {
    var scheme_id = $("#scheme_"+row_id+" > select").val();
    var date = $("#date_"+row_id).val();
    var amount = $("#amount_"+row_id).val();
    $.ajax({
      url: "/schemes/absolute_returns",
      type: 'GET',
      data: { 'scheme_id': scheme_id, 'invested_date': date , 'invested_amount': amount },
      success: function(result) {
        $("#returns_"+row_id).val(result.profit);
        var total_amount = 0;
        $('.returns').each(function () {
          if ($(this).val() != ""){
            total_amount = total_amount + parseFloat($(this).val());
          }
        });
        $("#total_amount").html(Math.round(total_amount * 100) / 100);
      }
    });
  }
</script>